@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-kiwi: "Kiwi Maru", serif;
  --font-roboto: "Roboto", sans-serif;
}


@plugin "daisyui/theme" {
  name: "amapita";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #F9F9F9;
  --color-base-200: #C9C5C1;
  --color-base-300: #8c877e;
  --color-base-400: #DDDCDB;
  --color-base-content: oklch(44% 0.011 73.639);
  --color-primary: #F5B6C7;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #90ADDC;
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: #99D7AA;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(89% 0.058 10.001);
  --color-info-content: oklch(44% 0.011 73.639);
  --color-success: oklch(88% 0.059 254.128);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: #F3E19C;
  --color-warning-content: oklch(44% 0.011 73.639);
  --color-error: #E88562;
  --color-error-content: oklch(44% 0.011 73.639);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 3px;
  --depth: 1;
  --noise: 0;
}

.header-button {
  @apply px-2 py-3 md:px-4 md:py-3 text-base-100 rounded-xl transition duration-200 hover:brightness-96;
}

.button-primary {
  @apply px-5 py-3 md:px-6 text-base-100 rounded-full transition duration-200 hover:brightness-96;
}

.button-secondary {
  @apply rounded-2xl p-3 md:px-8 text-sm md:text-base text-neutral ring-4 transition duration-200;
}

.amapita-count-ring {
  @apply items-center gap-2 rounded-2xl p-1 md:px-6 md:py-2 text-base text-neutral ring-3 md:ring-4;
}

.sliders-title {
@apply px-4 py-2 text-neutral ring-4 rounded-full bg-base-100;
}

.sliders-button {
@apply px-4 md:px-5 py-3 text-base-100 rounded-full transition duration-200 hover:brightness-96 inline-block;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1.5rem;
  color: #56524C;
}

.hover-animation {
@apply transition-transform duration-300 md:hover:-translate-y-1;
}

.category-image {
@apply w-full h-full object-cover rounded-3xl opacity-50 ring-4 md:ring-8 ring-base-200;
}

.category-label {
@apply absolute inset-0 flex items-center justify-center text-white md:text-2xl font-bold;
}

.category-label-multi {
@apply absolute inset-0 flex flex-col items-center justify-center text-white text-base md:text-2xl font-bold;
}

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-gray-200;
    &:hover {
      @apply bg-gray-300;
    }
    &:not([href]) { /* disabled links */
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.current {
      @apply text-white bg-gray-400;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}