@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-kiwi: "Kiwi Maru", serif;
}

@plugin "daisyui/theme" {
  name: "amapita";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #FFFFFF;
  --color-base-200: #F9F9F9;
  --color-base-300: #C9C5C1;
  --color-base-400: #DDDCDB;
  --color-base-content: oklch(44% 0.011 73.639);
  --color-primary: #F5B6C7;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #90ADDC;
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: #99D7AA;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(89% 0.058 10.001);
  --color-info-content: oklch(44% 0.011 73.639);
  --color-success: oklch(88% 0.059 254.128);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: #F3E19C;
  --color-warning-content: oklch(44% 0.011 73.639);
  --color-error: #E88562;
  --color-error-content: oklch(44% 0.011 73.639);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

.icon-size {
  @apply h-10 w-10 md:h-12 md:w-12;
}

.header-button {
  @apply p-2 md:p-3 text-base-100 rounded-xl transition duration-200 hover:brightness-96;
}

.button-primary {
  @apply px-5 py-4 md:px-6 text-base-100 rounded-full transition duration-200 hover:brightness-96;
}

.button-secondary {
  @apply px-5 py-4 md:px-6 md:py-5 text-neutral rounded-full transition duration-200 hover:brightness-96;
}

.button-close {
  @apply px-5 py-3 md:px-6 text-neutral ring-4 rounded-full transition duration-200 bg-base-100 hover:brightness-96;
}

.action-button {
@apply px-4 py-2 text-neutral ring-4 rounded-full transition duration-200 bg-base-100 hover:brightness-96;
}

.sliders-button {
@apply px-4 md:px-5 py-3 md:py-4 text-base-100 rounded-full transition duration-200 hover:brightness-96 inline-block
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1.5rem;
  color: #56524C;
}
