<div class="flex flex-col items-center text-center p-6 sm:p-10">
  <div class="text-lg sm:text-xl inline-flex items-center">
    <div class="border-b-4 border-dotted border-accent inline-block pb-1">
      What is あまピタッ？
    </div>
  </div>

  <div class="text-base py-6 sm:p-6 gap-2 leading-loose">
    あまピタッ！は<span class="sm:hidden"><br></span>「好みの甘味感覚が近い人」と
    <span class="sm:hidden"><br></span>繋がることで、<br>
    自分に合う"ちょうどいい甘さ"の<span class="sm:hidden"><br></span>
    商品と出会える<br>レビューサービスです。
  </div>

  <div class="p-2">
    <div class="text-md sm:text-xl inline-flex items-center gap-2">
      <div class="flex flex-col">
        <div class="flex flex-row gap-1 items-center justify-center border-b-4 border-dotted border-secondary pb-1">
          <%= image_tag "smiley-wink.svg", class: "h-7 w-7" %>
           こんな方におすすめ！
        </div>
      </div>
    </div>
  </div>

  <div class="text-base p-4 sm:p-6 leading-loose text-left inline-block">
    ・自分と似た甘さの好みを<span class="md:hidden"><br></span>持つ人のレビューを参考にして、
    <br>新しい商品に出会いたい方<br>
    ・甘すぎるものは苦手だけど、<span class="sm:hidden"><br></span>
    ちょうどいい甘さは楽しみたい方<br>
    ・甘いものが好きな方
  </div>

  <div class="flex flex-row gap-3 pt-2 sm:gap-5 sm:py-4 text-base">
    <% if user_signed_in? %>
    <div class="pb-4 sm:pb-1">
      <%= link_to raw("甘さ感覚診断をする"), new_diagnosis_path,
          class: "bg-accent sliders-button hover-animation w-fit text-center" %>
    </div>
    <% else %>
     <div class="pb-2 sm:pb-1">
      <%= link_to "新規登録", new_user_registration_path,
            class: "bg-accent sliders-button hover-animation text-center" %>
    </div>
    <div class="pb-4 sm:pb-1">
      <%= link_to "ログイン", new_user_session_path,
          class: "bg-secondary sliders-button hover-animation text-center" %>
    </div>
    <% end %>
  </div>
  <div class="pb-4 sm:pb-1 text-center">
    <button
      class="bg-primary sliders-button text-center"
      onclick="document.querySelector('.swiper-button-next').click()">
      アプリの説明を見る
    </button>
  </div>
</div>
