<div class="flex flex-col flex-grow items-center text-center p-6 sm:p-10">
  <div class="text-lg sm:text-xl ring-primary sliders-title inline-flex items-center">
    What is あまピタッ？
  </div>

  <div class="text-base py-6 sm:p-10 gap-2 leading-loose">
    あまピタッ！は<span class="sm:hidden"><br></span>「好みの甘味感覚が近い人」と
    <span class="sm:hidden"><br></span>繋がることで、<br>
    自分に合う"ちょうどいい甘さ"の<span class="sm:hidden"><br></span>
    商品と出会える<br>レビューサービスです。
  </div>

  <div class="p-2">
    <div class="text-md sm:text-xl ring-accent sliders-title inline-flex items-center gap-2">
      <%= image_tag "smiley-wink.svg", class: "h-7 w-7" %>
      こんな方におすすめ！
    </div>
  </div>

  <div class="text-base p-4 sm:p-6 leading-loose text-left inline-block">
    ・自分と似た甘さの好みを持つ人のレビューを参考にして、
    <br class="hidden sm:block">新しい商品に出会いたい方<br>
    ・甘すぎるものは苦手だけど、<span class="sm:hidden"><br></span>
    ちょうどいい甘さは楽しみたい方<br>
    ・季節ごとの好みの甘さの変化を楽しみたい方
  </div>
</div>
