<div class="flex flex-col flex-grow items-center text-center px-6 py-6 md:p-10">
  <div class="text-lg md:text-xl ring-primary sliders-title inline-flex items-center">
    What is あまピタ？
  </div>

  <div class="text-base py-6 md:p-10 gap-2 leading-loose">
    あまピタは<span class="md:hidden"><br></span>「好みの甘味感覚が近い人」と
    <span class="md:hidden"><br></span>繋がることで、<br>
    自分に合う"ちょうどいい甘さ"の<span class="md:hidden"><br></span>
    商品と出会える<br>レビューサービスです。
  </div>

  <div class="p-2 md:p-6">
    <div class="text-md md:text-xl ring-accent sliders-title inline-flex items-center gap-2">
      <%= image_tag "smiley-wink.svg", class: "h-7 w-7" %>
      こんな人におすすめ！
    </div>
  </div>

  <div class="text-base py-6 px-4 pb-10 gap-2 leading-loose text-left inline-block">
    ・甘すぎるものは苦手だけど、<span class="md:hidden"><br></span>
    甘いものは楽しみたい！<br>
    ・自分に合う甘さの商品を見つけたい！<br>
    ・安心して新しい甘いものに挑戦したい！<span class="md:hidden"><br></span>
  </div>
</div>
