<div class="p-2 md:p-4">
  <div class="flex flex-col p-2 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-xl md:text-2xl p-2 sm:p-4 border-b border-base-200 w-full">
      <%= t('.title') %>
    </h1>

    <div class="prose prose-neutral dark:prose-invert max-w-none p-6 md:p-8 leading-relaxed text-sm md:text-base text-neutral">
      <h2 class="legal-section-title">お客様から取得する情報</h2>
      <p>当社は、お客様から以下の情報を取得します。</p>
      <ul class="list-disc pl-6">
        <li>氏名(ニックネームやペンネームも含む)</li>
        <li>メールアドレス</li>
        <li>写真や動画</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>Cookie(クッキー)を用いて生成された識別情報</li>
      </ul>

      <h2 class="legal-section-title">お客様の情報を利用する目的</h2>
      <p>当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="list-disc pl-6">
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当社サービスの利用履歴を管理するため</li>
        <li>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
        <li>当社の規約や法令に違反する行為に対応するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>

      <h2 class="legal-section-title">安全管理のために講じた措置</h2>
      <p>
        当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
      </p>

      <h2 class="legal-section-title">第三者提供</h2>
      <p>
        当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
      </p>
      <p>但し、次の場合は除きます。</p>
      <ul class="list-disc pl-6">
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当社や当社サービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>

      <h2 class="legal-section-title">アクセス解析ツール</h2>
      <p>
        当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。
        Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。
        トラフィックデータは匿名で収集されており、個人を特定するものではありません。
        Cookieを無効にすれば、これらの情報の収集を拒否することができます。
        詳しくはお使いのブラウザの設定をご確認ください。
        Googleアナリティクスについて、詳しくは<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener noreferrer" class="text-secondary underline">こちら</a>からご確認ください。
      </p>
      <p>
        
      </p>

      <h2 class="legal-section-title">プライバシーポリシーの変更</h2>
      <p>
        当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
      </p>

      <h2 class="legal-section-title">お問い合わせ</h2>
      <p>ユーザーの情報の開示、訂正、利用停止、削除をご希望される場合は、お問い合わせフォームよりご連絡ください。
         ご本人確認のため、本人確認書類（運転免許証等）の提示をお願いする場合があります。
         なお、開示請求については、開示の有無にかかわらず、1件あたり1,000円（税込）の事務手数料を申し受けます。
      </p>

      <p class="mt-12 text-right text-sm text-neutral/70">
        2025年10月25日 制定
      </p>
    </div>
  </div>
</div>