<div class="p-2 md:p-4"> 
  <div class="p-2 rounded-3xl w-full max-w-3xl mx-auto bg-base-200">
    <div class="text-xl md:text-3xl text-neutral text-center p-4">
      結果発表
    </div>
    <div class="text-base md:text-xl border-t border-base-300 leading-relaxed text-neutral text-center p-6">
      あなたの<span class="sm:hidden"><br></span>「好みの甘さ感覚チャート」が<br>出来上がりました！
    </div>
    <div class="px-10 py-4 md:py-6 text-neutral">
      <div class="flex justify-center items-end flex-wrap gap-1 md:gap-2 text-base">
        <span class="text-left self-start">あなたは...</span>
        <span class="text-xl md:text-2xl bg-primary text-center rounded-3xl px-5 py-3 md:px-6 md:py-4 text-base-100">
          <%= I18n.t("enums.sweetness_type.sweetness_kind.#{@profile.sweetness_kind}") %>
        </span>
        <span class="text-base text-neutral ml-auto md:ml-0">タイプです</span>
      </div>
    </div>

    <div class="flex justify-center p-4">
        <div class="w-full max-w-md">
        <div class="p-4 border-secondary rounded-3xl bg-base-100">
            <%= render "shared/chart",
            chart_id: "radarChart",
            data: [
                @profile.sweetness_strength,
                @profile.aftertaste_clarity,
                @profile.natural_sweetness,
                @profile.coolness,
                @profile.richness,
            ] %>
        </div>
        </div>
    </div>

    <div class="flex flex-col items-center gap-6 p-8">
      <%= link_to "X で結果をシェアする", "#", class: "bg-accent button-secondary" %>
      <%= link_to "閉じる", "#", data: { turbo: false }, class: "bg-accent ring-accent button-close" %>
    </div>
  </div>
</div>
