<div id="page-loader"
     data-controller="loading"
     data-loading-target-selector="[data-loader-target]"
     class="fixed inset-0 z-50 flex justify-center items-center
            bg-black/5 p-4 pb-8 opacity-100 backdrop-blur-md transition-opacity duration-700 ease-in-out">
  <div class="flex flex-col justify-center items-center gap-6">
    <span class="animate-spin h-8 w-8 rounded-xl bg-success"></span>
    <span class="animate-bounce text-neutral font-medium tracking-wide">Loading ...</span>
  </div>
</div>
