<div id="notification-badge" class="absolute top-0 sm:top-1 right-3 sm:right-10">
  <% if @unchecked_notifications_count.to_i > 0 %>
    <div class="status status-accent animate-bounce"></div>
  <% end %>
</div>
