<div class="relative w-full border-b border-base-200">
  <%= link_to categories_path,
      class: "absolute left-0 md:left-2 top-1/2 -translate-y-1/2 md:hover:bg-stone-200/80 duration-300 rounded-full p-2" do %>
    <%= image_tag "arrow-circle-left.svg", class: "h-7 w-7 sm:h-8 sm:w-8" %>
  <% end %>

  <h1 class="text-center text-lg md:text-xl p-2 md:p-4">
    <%= title %>
  </h1>
</div>
