<div class="p-2 md:p-4 opacity-70 ">
  <div class="flex flex-col p-6 items-center justify-center w-full max-w-xl mx-auto bg-base-200 rounded-2xl">
    <div class="w-full max-w-lg">
      <div class="flex justify-center items-center gap-4 mb-3 w-full">
        <input 
          type="search" 
          class="flex-1 min-w-0 bg-base-100 p-2 rounded-full ring-2 ring-[var(--color-base-400)] pointer-events-none"
          placeholder="キーワードを入力"
          disabled >
        <button
          class="flex-shrink-0 rounded-full ring-secondary px-4 py-2 text-neutral ring-4 transition duration-200 bg-base-100 hover:brightness-96 opacity-60 pointer-events-none"
          disabled >
          検索
        </button>
      </div>
      <div class="text-sm text-left p-2">
        詳細検索 +
      </div>
      <div class="text-sm text-center text-error">
        ※ 準備中
      </div>
    </div>
  </div>
</div>