<% if comment.errors.any? %>
  <div class="error-messages w-fit text-error bg-base-100 p-2 rounded-4xl ring-2 ring-error">
    <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(
      url: post_comments_path(post),
      model: comment,
      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" },
      class: "flex items-center gap-2 w-full",
    ) do |f| %>

  <div class="flex-grow p-2">
    <%= f.text_field :body,
      placeholder: t('defaults.placeholders.new_comment'),
      class: "w-full rounded-full border-2 border-stone-200 px-4 py-2 text-sm bg-white/80" %>
  </div>
  <%= f.submit t('helpers.submit.send'), class: "text-sm btn btn-success text-base-300" %>
<% end %>
