<div class="flex justify-center items-center text-base-200 w-full text-sm py-4">
  <div class="flex items-center gap-5 w-full">
    <div class="flex-1 border-t border-dashed border-stone-400"></div>
      <span class="text-stone-400 text-sm font-medium">
        <%= t('posts.reputation_part') %>
      </span>
    <div class="flex-1 border-t border-dashed border-stone-400"></div>
  </div>
</div>