<div class="md:p-4">
  <div class="flex flex-col p-1 items-center justify-center w-full max-w-3xl mx-auto bg-base-100 rounded-4xl">
    <h1 class="text-center text-lg md:text-xl p-2 md:p-4 border-b border-base-200 w-full leading-relaxed">
      <%= @post.editable_product? ? t('.title') : t('.title_reputation_only') %>
    </h1>
   <%= render 'form', post: @post %>
  </div>
</div>