.tabs-content > .tab-panel { display: none; }

#radio-new:checked ~ .tabs-content #tab-new-content,
#radio-new:checked ~ .tabs-content #form-new {
  display: block;
}

#radio-recommend:checked ~ .tabs-content #tab-recommend-content,
#radio-recommend:checked ~ .tabs-content #form-recommend {
  display: block;
}

.tabs-labels label { transition: all .15s ease; }
#radio-new:checked ~ .tabs-labels label[for="radio-new"],
#radio-recommend:checked ~ .tabs-labels label[for="radio-recommend"] {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 4px rgba(245,182,199, 1);
}

.tabs-labels label:hover { transform: translateY(-1px); }

/* ラジオボタン） */
.radio-text {
  color: rgb(168 162 158);
  transition: color 0.2s ease;
}


input[type="radio"]:checked + .radio-text {
  color: rgb(85 81 77);
}

/* ラベル全体をクリック可能にする */
label {
  cursor: pointer;
}