<% @products.each do |product| %>
  <li class="w-full flex items-center py-2 px-3 text-sm text-neutral hover:bg-stone-200 cursor-pointer border-b border-stone-200 last:border-b-0"
      role="option"
      data-autocomplete-value="<%= "#{product.name}" %>"
      data-autocomplete-label="<%= "#{product.manufacturer} #{product.name}" %>">
    <span><%= product.name %></span>
    <% if product.manufacturer.present? %>
      <span class="ml-2 text-base-300 text-xs"><%= product.manufacturer %></span>
    <% end %>
  </li>
<% end %>
