<p><%= @resource.name %>様</p>

<p>あまピタッ！をご利用いただきありがとうございます。</p>

<p>パスワード再設定用のURLを送付いたします。以下のURLより、パスワードの変更をお願いいたします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p></p>

<p>※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<p>※このメールにお心当たりの無い場合は、このメールを破棄していただけますようお願いいたします。</p>
